Repository personal-preferences/Dong-A-Jul, pull requests merged in 2024-08, with the labels that each got.

#10 [Location-Service] 화장실 위치 등록 기능 구현
  location_service/build.gradle
  location_service/src/main/java/org/personal/locations_service/controller/ExceptionController.java
  location_service/src/main/java/org/personal/locations_service/controller/LocationController.java
  location_service/src/main/java/org/personal/locations_service/domain/Location.java
  location_service/src/main/java/org/personal/locations_service/exception/InvalidRequest.java
  location_service/src/main/java/org/personal/locations_service/exception/LocationException.java
  location_service/src/main/java/org/personal/locations_service/request/LocationCreate.java
  location_service/src/main/java/org/personal/locations_service/response/ErrorResponse.java
  location_service/src/test/java/org/personal/locations_service/controller/LocationControllerTest.java
Labels: feature, test, Back-End

#12 [Review-Service] 리뷰 조회, 등록, 삭제 구현
  review_service/build.gradle
  review_service/src/main/generated/org/personal/review_service/domain/QReview.java
  review_service/src/main/java/org/personal/review_service/ReviewServiceApplication.java
  review_service/src/main/java/org/personal/review_service/common/DateParsing.java
  review_service/src/main/java/org/personal/review_service/common/ReviewResponseBuilder.java
  review_service/src/main/java/org/personal/review_service/controller/ReviewController.java
  review_service/src/main/java/org/personal/review_service/domain/Review.java
  review_service/src/main/java/org/personal/review_service/exception/ReviewNotFoundException.java
  review_service/src/main/java/org/personal/review_service/repository/ReviewRepository.java
  review_service/src/main/java/org/personal/review_service/repository/ReviewRepositoryCustom.java
  review_service/src/main/java/org/personal/review_service/repository/ReviewRepositoryImpl.java
  review_service/src/main/java/org/personal/review_service/request/ReviewCreate.java
  review_service/src/main/java/org/personal/review_service/response/ReviewResponse.java
  review_service/src/main/java/org/personal/review_service/service/ReviewService.java
  review_service/src/main/java/org/personal/review_service/service/ReviewServiceImpl.java
  review_service/src/main/resources/application.yml
  review_service/src/test/java/org/personal/review_service/controller/ReviewControllerTest.java
Labels: feature, test, Back-End

#14 [Location-Service] 화장실 위치 조회 기능 구현
  location_service/build.gradle
  location_service/src/main/java/org/personal/locations_service/config/QueryDslConfig.java
  location_service/src/main/java/org/personal/locations_service/controller/LocationController.java
  location_service/src/main/java/org/personal/locations_service/domain/Location.java
  location_service/src/main/java/org/personal/locations_service/exception/ToiletNotFound.java
  location_service/src/main/java/org/personal/locations_service/repository/LocationRepository.java
  location_service/src/main/java/org/personal/locations_service/repository/LocationRepositoryCustom.java
  location_service/src/main/java/org/personal/locations_service/repository/LocationRepositoryImpl.java
  location_service/src/main/java/org/personal/locations_service/request/LocationSearch.java
  location_service/src/main/java/org/personal/locations_service/response/LocationResponse.java
  location_service/src/main/java/org/personal/locations_service/service/LocationService.java
  location_service/src/main/java/org/personal/locations_service/service/LocationServiceImpl.java
  location_service/src/main/resources/application.yml
  location_service/src/test/java/org/personal/locations_service/controller/LocationControllerTest.java
  location_service/src/test/java/org/personal/locations_service/service/LocationServiceTest.java
Labels: feature, test, Back-End

#21 [Info-Service] 화장실 정보 조회 기능 구현
  info_service/build.gradle
  info_service/src/main/generated/org/personal/info_service/domain/QToiletInfo.java
  info_service/src/main/java/org/personal/info_service/config/QueryDslConfig.java
  info_service/src/main/java/org/personal/info_service/controller/infoController.java
  info_service/src/main/java/org/personal/info_service/repository/ToiletInfoRepositoryCustom.java
  info_service/src/main/java/org/personal/info_service/repository/ToiletInfoRepositoryCustomImpl.java
  info_service/src/main/java/org/personal/info_service/repository/ToiletInfoRepositoryImpl.java
  info_service/src/main/java/org/personal/info_service/service/ToiletInfoService.java
  info_service/src/main/java/org/personal/info_service/service/ToiletInfoServiceImpl.java
  info_service/src/test/java/org/personal/info_service/controller/infoControllerTest.java
  info_service/src/test/java/org/personal/info_service/service/ToiletInfoServiceTest.java
Labels: feature, refactor, test, Back-End

#24 [Registration-Service] 화장실 등록 신청 등록 기능 구현
  toilet_registration_service/build.gradle
  toilet_registration_service/src/main/java/org/personal/registration_service/common/Constants.java
  toilet_registration_service/src/main/java/org/personal/registration_service/common/DateParsing.java
  toilet_registration_service/src/main/java/org/personal/registration_service/common/ToiletRegistErrorResult.java
  toilet_registration_service/src/main/java/org/personal/registration_service/controller/ToiletConfirmController.java
  toilet_registration_service/src/main/java/org/personal/registration_service/controller/ToiletRegistController.java
  toilet_registration_service/src/main/java/org/personal/registration_service/domain/ToiletRegist.java
  toilet_registration_service/src/main/java/org/personal/registration_service/exception/GlobalExceptionHandler.java
  toilet_registration_service/src/main/java/org/personal/registration_service/exception/ToiletRegistException.java
  toilet_registration_service/src/main/java/org/personal/registration_service/repository/ToiletRegistRepository.java
  toilet_registration_service/src/main/java/org/personal/registration_service/request/Request.java
  toilet_registration_service/src/main/java/org/personal/registration_service/request/ToiletRegistRequest.java
  toilet_registration_service/src/main/java/org/personal/registration_service/response/Response.java
  toilet_registration_service/src/main/java/org/personal/registration_service/response/ToiletRegistResponse.java
  toilet_registration_service/src/main/java/org/personal/registration_service/service/ToiletRegistService.java
  toilet_registration_service/src/main/java/org/personal/registration_service/service/impl/ToiletRegistImpl.java
  toilet_registration_service/src/main/java/org/personal/registration_service/service/impl/ToiletRegistServiceImpl.java
  toilet_registration_service/src/main/resources/application-h2.yml
  toilet_registration_service/src/main/resources/application-postgresql.yml
  toilet_registration_service/src/main/resources/application.yml
  toilet_registration_service/src/test/java/org/personal/registration_service/ToiletRegistrationServiceApplicationTests.java
  toilet_registration_service/src/test/java/org/personal/registration_service/controller/ToiletRegistControllerTests.java
  toilet_registration_service/src/test/java/org/personal/registration_service/repository/ToiletRegistRepositoryTests.java
  toilet_registration_service/src/test/java/org/personal/registration_service/service/ToiletRegistServiceTests.java
Labels: feature, test, Back-End

#25 [Location-Service] 지도 경계 안에 있는 화장실 위치만 조회하도록 변경
  location_service/src/main/java/org/personal/locations_service/controller/LocationController.java
  location_service/src/main/java/org/personal/locations_service/exception/InvalidRequest.java
  location_service/src/main/java/org/personal/locations_service/repository/LocationRepositoryCustom.java
  location_service/src/main/java/org/personal/locations_service/repository/LocationRepositoryImpl.java
  location_service/src/main/java/org/personal/locations_service/request/LocationMarker.java
  location_service/src/main/java/org/personal/locations_service/request/LocationSearch.java
  location_service/src/main/java/org/personal/locations_service/service/LocationService.java
  location_service/src/main/java/org/personal/locations_service/service/LocationServiceImpl.java
  location_service/src/test/java/org/personal/locations_service/controller/LocationControllerTest.java
  location_service/src/test/java/org/personal/locations_service/service/LocationServiceTest.java
Labels: feature, refactor, test, Back-End

#27 [Addon-service] 애드온 등록 기능 구현
  addons_service/src/main/java/org/personal/addons_service/controller/AddonController.java
  addons_service/src/main/java/org/personal/addons_service/domain/Addon.java
  addons_service/src/main/java/org/personal/addons_service/domain/Bookmark.java
  addons_service/src/main/java/org/personal/addons_service/exception/AddonErrorResult.java
  addons_service/src/main/java/org/personal/addons_service/exception/AddonException.java
  addons_service/src/main/java/org/personal/addons_service/exception/GlobalExceptionHandler.java
  addons_service/src/main/java/org/personal/addons_service/mapper/AddonMapper.java
  addons_service/src/main/java/org/personal/addons_service/repository/AddonRepository.java
  addons_service/src/main/java/org/personal/addons_service/request/CreateAddonRequest.java
  addons_service/src/main/java/org/personal/addons_service/response/AddonCreateResponse.java
  addons_service/src/main/java/org/personal/addons_service/service/AddonService.java
  addons_service/src/main/java/org/personal/addons_service/service/AddonServiceImpl.java
  addons_service/src/test/java/org/personal/addons_service/AddonsServiceApplicationTests.java
  addons_service/src/test/java/org/personal/addons_service/controller/AddonControllerTest.java
  addons_service/src/test/java/org/personal/addons_service/repository/AddonRepositoryTest.java
  addons_service/src/test/java/org/personal/addons_service/service/AddonServiceTest.java
Labels: feature, test, Back-End

#29 [Info-Service] 화장실 정보 관련 수정 사항 반영
  info_service/src/main/java/org/personal/info_service/controller/InfoExceptionHandler.java
  info_service/src/main/java/org/personal/info_service/domain/ToiletInfo.java
  info_service/src/main/java/org/personal/info_service/repository/ToiletInfoRepository.java
  info_service/src/main/java/org/personal/info_service/repository/ToiletInfoRepositoryCustomImpl.java
  info_service/src/main/java/org/personal/info_service/service/ToiletInfoServiceImpl.java
  info_service/src/test/java/org/personal/info_service/controller/infoControllerTest.java
  info_service/src/test/java/org/personal/info_service/service/ToiletInfoServiceTest.java
Labels: feature, refactor, test, Back-End

#31 카카오 로그인 기능
  user_service/Dockerfile
  user_service/src/main/java/org/personal/user_service/config/GetUserInfo.java
  user_service/src/main/java/org/personal/user_service/config/OAuth2SuccessHandler.java
  user_service/src/main/java/org/personal/user_service/config/SecurityConfig.java
  user_service/src/main/java/org/personal/user_service/oauth/CustomOAuth2User.java
  user_service/src/main/java/org/personal/user_service/oauth/CustomOAuth2UserService.java
  user_service/src/main/java/org/personal/user_service/user/controller/LoginController.java
  user_service/src/main/java/org/personal/user_service/user/controller/UserController.java
  user_service/src/main/java/org/personal/user_service/user/domain/User.java
  user_service/src/main/java/org/personal/user_service/user/response/ResponseToken.java
  user_service/src/main/java/org/personal/user_service/user/service/LoginService.java
  user_service/src/main/java/org/personal/user_service/user/service/LoginServiceImpl.java
  user_service/src/main/java/org/personal/user_service/user/service/UserService.java
  user_service/src/main/java/org/personal/user_service/user/service/UserServiceImpl.java
  user_service/src/test/java/org/personal/user_service/UserServiceApplicationTests.java
  user_service/src/test/java/org/personal/user_service/user/service/LoginServiceImplTest.java
Labels: feature, Back-End

#23 [Review-Service] 리뷰 조회 시, 페이징 및 정렬 기능 추가
  review_service/src/main/java/org/personal/review_service/common/Constants.java
  review_service/src/main/java/org/personal/review_service/controller/ReviewController.java
  review_service/src/main/java/org/personal/review_service/domain/Review.java
  review_service/src/main/java/org/personal/review_service/repository/ReviewRepositoryCustom.java
  review_service/src/main/java/org/personal/review_service/repository/ReviewRepositoryImpl.java
  review_service/src/main/java/org/personal/review_service/service/ReviewService.java
  review_service/src/main/java/org/personal/review_service/service/ReviewServiceImpl.java
  review_service/src/main/resources/application.yml
  review_service/src/test/java/org/personal/review_service/controller/ReviewControllerTest.java
Labels: feature, refactor, test, Back-End

#36 [Registration-Service] 필드 추가, 중복 체크 제거
  toilet_registration_service/src/main/java/org/personal/registration_service/domain/ToiletRegist.java
  toilet_registration_service/src/main/java/org/personal/registration_service/repository/ToiletRegistRepository.java
  toilet_registration_service/src/main/java/org/personal/registration_service/request/ToiletRegistApproveRequest.java
  toilet_registration_service/src/main/java/org/personal/registration_service/request/ToiletRegistRequest.java
  toilet_registration_service/src/main/java/org/personal/registration_service/response/ToiletRegistResponse.java
  toilet_registration_service/src/main/java/org/personal/registration_service/service/impl/ToiletRegistApproveServiceImpl.java
  toilet_registration_service/src/main/java/org/personal/registration_service/service/impl/ToiletRegistServiceImpl.java
  toilet_registration_service/src/test/java/org/personal/registration_service/controller/ToiletRegistApproveControllerTests.java
  toilet_registration_service/src/test/java/org/personal/registration_service/controller/ToiletRegistControllerTests.java
  toilet_registration_service/src/test/java/org/personal/registration_service/repository/ToiletRegistRepositoryTests.java
  toilet_registration_service/src/test/java/org/personal/registration_service/service/impl/ToiletRegistApproveServiceImplTests.java
  toilet_registration_service/src/test/java/org/personal/registration_service/service/impl/ToiletRegistServiceImplTests.java
Labels: refactor, test, Back-End

#33 [Addon-Service] 애드온 조회, 수정 기능 구현
  addons_service/src/main/java/org/personal/addons_service/controller/AddonController.java
  addons_service/src/main/java/org/personal/addons_service/domain/Addon.java
  addons_service/src/main/java/org/personal/addons_service/exception/AddonErrorResult.java
  addons_service/src/main/java/org/personal/addons_service/mapper/AddonMapper.java
  addons_service/src/main/java/org/personal/addons_service/request/GetAddonRequest.java
  addons_service/src/main/java/org/personal/addons_service/request/UpdateAddonRequest.java
  addons_service/src/main/java/org/personal/addons_service/response/AddonCreateResponse.java
  addons_service/src/main/java/org/personal/addons_service/response/AddonResponse.java
  addons_service/src/main/java/org/personal/addons_service/service/AddonService.java
  addons_service/src/main/java/org/personal/addons_service/service/AddonServiceImpl.java
  addons_service/src/test/java/org/personal/addons_service/controller/AddonControllerTest.java
  addons_service/src/test/java/org/personal/addons_service/repository/AddonRepositoryTest.java
  addons_service/src/test/java/org/personal/addons_service/service/AddonServiceTest.java
Labels: feature, refactor, test, Back-End

#35 [Review-Service] 화장실 리뷰 요약 기능 구현
  review_service/src/main/java/org/personal/review_service/controller/ReviewController.java
  review_service/src/main/java/org/personal/review_service/repository/ReviewRepositoryCustom.java
  review_service/src/main/java/org/personal/review_service/repository/ReviewRepositoryImpl.java
  review_service/src/main/java/org/personal/review_service/response/ReviewSummary.java
  review_service/src/main/java/org/personal/review_service/service/ReviewService.java
  review_service/src/main/java/org/personal/review_service/service/ReviewServiceImpl.java
  review_service/src/test/java/org/personal/review_service/controller/ReviewControllerTest.java
Labels: feature, test, Back-End

#37 [Location-Service] 화장실 위치 목록 조회 Param 형식으로 변경
  location_service/src/main/java/org/personal/locations_service/config/WebConfig.java
  location_service/src/main/java/org/personal/locations_service/controller/LocationController.java
  location_service/src/test/java/org/personal/locations_service/controller/LocationControllerTest.java
Labels: feature, fix, test, Back-End

#50 [Frontend-Registration] 화장실 등록 조회, 등록 신청, 상세보기 화면 구현
  front/package-lock.json
  front/src/components/RegisterToilet.vue
  front/src/components/RegisterToilet_test.vue
  front/src/components/ToiletDetails.vue
  front/src/components/ToiletRegistList.vue
  front/src/router/index.js
Labels: feature, Front-End

#39 [Registration-Service] 화장실 등록 신청 조회, 정렬
  toilet_registration_service/build.gradle
  toilet_registration_service/src/main/generated/org/personal/registration_service/domain/QToiletRegist.java
  toilet_registration_service/src/main/java/org/personal/registration_service/common/Constants.java
  toilet_registration_service/src/main/java/org/personal/registration_service/common/config/QueryDSLConfig.java
  toilet_registration_service/src/main/java/org/personal/registration_service/common/config/WebConfig.java
  toilet_registration_service/src/main/java/org/personal/registration_service/controller/ToiletRegistApproveController.java
  toilet_registration_service/src/main/java/org/personal/registration_service/repository/QueryDSLRepository.java
  toilet_registration_service/src/main/java/org/personal/registration_service/repository/ToiletRegistRepository.java
  toilet_registration_service/src/main/java/org/personal/registration_service/repository/impl/QueryDSLRepositoryImpl.java
  toilet_registration_service/src/main/java/org/personal/registration_service/service/ToiletRegistApproveService.java
  toilet_registration_service/src/main/java/org/personal/registration_service/service/impl/ToiletRegistApproveServiceImpl.java
  toilet_registration_service/src/main/java/org/personal/registration_service/service/impl/ToiletRegistServiceImpl.java
  toilet_registration_service/src/main/resources/application.yml
  toilet_registration_service/src/test/java/org/personal/registration_service/controller/ToiletRegistApproveControllerTests.java
  toilet_registration_service/src/test/java/org/personal/registration_service/repository/ToiletRegistRepositoryTests.java
  toilet_registration_service/src/test/java/org/personal/registration_service/repository/impl/QueryDSLRepositoryImplTests.java
  toilet_registration_service/src/test/java/org/personal/registration_service/service/impl/ToiletRegistApproveServiceImplTests.java
Labels: feature, test, Back-End

#43 [Review-Service] 리뷰 component script 구현
  front/index.html
  front/package-lock.json
  front/package.json
  front/src/components/review/ReviewComponent.vue
  front/src/components/review/ReviewList.vue
  front/src/components/review/ReviewRegister.vue
  front/src/components/review/ReviewSummary.vue
  front/src/main.js
Labels: feature, Front-End

#45 [Info-Service] 화장실 정보 조회 화면 구현
  front/src/components/ToiletinfoDetails.vue
Labels: feature, Front-End

#52 [Location-Service] 네이버 지도 API로 화장실 위치 마커 표시 구현
  front/src/components/NaverMaps.vue
  front/src/router/index.js
  front/src/views/HomeView.vue
Labels: feature, Front-End

#54 [Addon-Service] 애드온 조회/등록/수정 화면 구현
  front/src/components/addon/AddonDetails.vue
Labels: feature, Front-End

#58 [ User-Service] 로그인, 회원가입, 카카오 로그인, 사용자 정보 화면 구현
  front/package-lock.json
  front/package.json
  front/src/App.vue
  front/src/assets/axiosWithToken.js
  front/src/components/user/KakaoLogin.vue
  front/src/components/user/Login.vue
  front/src/components/user/Regist.vue
  front/src/components/user/UserInfo.vue
  front/src/router/index.js
  front/src/stores/user.js
Labels: feature, Front-End

#62 [Review-Service] CORS 및 Param 오류 해결
  review_service/src/main/java/org/personal/review_service/config/WebConfig.java
  review_service/src/main/java/org/personal/review_service/controller/ReviewController.java
Labels: bug, feature, fix, Back-End

#63 [User-Service] 화면 테스트 통한 에러 수정, 토큰 관련 에러 수정, 로직 변경
  user_service/LOGIN_FEATURE.md
  user_service/src/main/java/org/personal/user_service/config/JWTFilter.java
  user_service/src/main/java/org/personal/user_service/config/SecurityConfig.java
  user_service/src/main/java/org/personal/user_service/config/TOKENTIME.java
  user_service/src/main/java/org/personal/user_service/user/controller/LoginController.java
  user_service/src/main/java/org/personal/user_service/user/controller/UserController.java
  user_service/src/main/java/org/personal/user_service/user/domain/CustomUserDetails.java
  user_service/src/main/java/org/personal/user_service/user/domain/User.java
  user_service/src/main/java/org/personal/user_service/user/repository/UserRepository.java
  user_service/src/main/java/org/personal/user_service/user/request/RequestRegist.java
  user_service/src/main/java/org/personal/user_service/user/service/LoginServiceImpl.java
  user_service/src/main/java/org/personal/user_service/user/service/UserService.java
  user_service/src/main/java/org/personal/user_service/user/service/UserServiceImpl.java
  user_service/src/test/java/org/personal/user_service/UserServiceApplicationTests.java
Labels: fix

#64 [Review-Service] 리뷰 서비스 DB 연결 테스트
  review_service/.gitignore
  review_service/build.gradle
  review_service/gradle/wrapper/gradle-wrapper.jar
  review_service/gradle/wrapper/gradle-wrapper.properties
  review_service/gradlew
  review_service/gradlew.bat
  review_service/settings.gradle
  review_service/src/main/generated/org/personal/review_service/domain/QReview.java
  review_service/src/main/java/org/personal/review_service/ReviewServiceApplication.java
  review_service/src/main/java/org/personal/review_service/common/Constants.java
  review_service/src/main/java/org/personal/review_service/common/DateParsing.java
  review_service/src/main/java/org/personal/review_service/common/ReviewResponseBuilder.java
  review_service/src/main/java/org/personal/review_service/config/JpaConfig.java
  review_service/src/main/java/org/personal/review_service/config/WebConfig.java
  review_service/src/main/java/org/personal/review_service/controller/ReviewController.java
  review_service/src/main/java/org/personal/review_service/domain/Review.java
  review_service/src/main/java/org/personal/review_service/exception/ReviewNotFoundException.java
  review_service/src/main/java/org/personal/review_service/repository/ReviewRepository.java
  review_service/src/main/java/org/personal/review_service/repository/ReviewRepositoryCustom.java
  review_service/src/main/java/org/personal/review_service/repository/ReviewRepositoryImpl.java
  review_service/src/main/java/org/personal/review_service/request/ReviewCreate.java
  review_service/src/main/java/org/personal/review_service/response/ReviewResponse.java
  review_service/src/main/java/org/personal/review_service/response/ReviewSummary.java
  review_service/src/main/java/org/personal/review_service/service/ReviewService.java
  review_service/src/main/java/org/personal/review_service/service/ReviewServiceImpl.java
  review_service/src/main/resources/application.yml
  review_service/src/test/java/org/personal/review_service/ReviewServiceApplicationTests.java
  review_service/src/test/java/org/personal/review_service/controller/ReviewControllerTest.java
  제목 없는 다이어그램.drawio
Labels: feature, test, Back-End

#66 [Registration-service] 화장실 등록 Develop 브랜치 Merge
  toilet_registration_service/build.gradle
  toilet_registration_service/gradle/wrapper/gradle-wrapper.jar
  toilet_registration_service/gradle/wrapper/gradle-wrapper.properties
  toilet_registration_service/gradlew
  toilet_registration_service/gradlew.bat
  toilet_registration_service/settings.gradle
  toilet_registration_service/src/main/generated/org/personal/registration_service/domain/QToiletRegist.java
  toilet_registration_service/src/main/java/org/personal/registration_service/ToiletRegistrationServiceApplication.java
  toilet_registration_service/src/main/java/org/personal/registration_service/common/Constants.java
  toilet_registration_service/src/main/java/org/personal/registration_service/common/DateParsing.java
  toilet_registration_service/src/main/java/org/personal/registration_service/common/ToiletRegistErrorResult.java
  toilet_registration_service/src/main/java/org/personal/registration_service/common/config/QueryDSLConfig.java
  toilet_registration_service/src/main/java/org/personal/registration_service/common/config/WebConfig.java
  toilet_registration_service/src/main/java/org/personal/registration_service/controller/ToiletRegistApproveController.java
  toilet_registration_service/src/main/java/org/personal/registration_service/controller/ToiletRegistController.java
  toilet_registration_service/src/main/java/org/personal/registration_service/domain/ToiletRegist.java
  toilet_registration_service/src/main/java/org/personal/registration_service/exception/GlobalExceptionHandler.java
  toilet_registration_service/src/main/java/org/personal/registration_service/exception/ToiletRegistException.java
  toilet_registration_service/src/main/java/org/personal/registration_service/repository/QueryDSLRepository.java
  toilet_registration_service/src/main/java/org/personal/registration_service/repository/ToiletRegistRepository.java
  toilet_registration_service/src/main/java/org/personal/registration_service/repository/impl/QueryDSLRepositoryImpl.java
  toilet_registration_service/src/main/java/org/personal/registration_service/request/ToiletRegistApproveRequest.java
  toilet_registration_service/src/main/java/org/personal/registration_service/request/ToiletRegistRequest.java
  toilet_registration_service/src/main/java/org/personal/registration_service/response/ToiletRegistApproveResponse.java
  toilet_registration_service/src/main/java/org/personal/registration_service/response/ToiletRegistResponse.java
  toilet_registration_service/src/main/java/org/personal/registration_service/service/ToiletRegistApproveService.java
  toilet_registration_service/src/main/java/org/personal/registration_service/service/ToiletRegistService.java
  toilet_registration_service/src/main/java/org/personal/registration_service/service/impl/ToiletRegistApproveServiceImpl.java
  toilet_registration_service/src/main/java/org/personal/registration_service/service/impl/ToiletRegistServiceImpl.java
  toilet_registration_service/src/main/resources/application-h2.yml
  toilet_registration_service/src/main/resources/application-postgresql.yml
  toilet_registration_service/src/main/resources/application.yml
  toilet_registration_service/src/test/java/org/personal/registration_service/ToiletRegistrationServiceApplicationTests.java
  toilet_registration_service/src/test/java/org/personal/registration_service/controller/ToiletRegistApproveControllerTests.java
  toilet_registration_service/src/test/java/org/personal/registration_service/controller/ToiletRegistControllerTests.java
  toilet_registration_service/src/test/java/org/personal/registration_service/repository/ToiletRegistRepositoryTests.java
  toilet_registration_service/src/test/java/org/personal/registration_service/repository/impl/QueryDSLRepositoryImplTests.java
  toilet_registration_service/src/test/java/org/personal/registration_service/service/impl/ToiletRegistApproveServiceImplTests.java
  toilet_registration_service/src/test/java/org/personal/registration_service/service/impl/ToiletRegistServiceImplTests.java
Labels: Back-End

#65 [User-Service] 유저, 로그인 서비스 -> Devleop 브랜치
  .gitignore
  user_service/Dockerfile
  user_service/LOGIN_FEATURE.md
  user_service/build.gradle
  user_service/gradle/wrapper/gradle-wrapper.jar
  user_service/gradlew
  user_service/gradlew.bat
  user_service/settings.gradle
  user_service/src/main/java/org/personal/user_service/UserServiceApplication.java
  user_service/src/main/java/org/personal/user_service/config/DateParsing.java
  user_service/src/main/java/org/personal/user_service/config/JWTFilter.java
  user_service/src/main/java/org/personal/user_service/config/JWTUtil.java
  user_service/src/main/java/org/personal/user_service/config/OAuth2SuccessHandler.java
  user_service/src/main/java/org/personal/user_service/config/PasswordEncoderConfig.java
  user_service/src/main/java/org/personal/user_service/config/RedisConfig.java
  user_service/src/main/java/org/personal/user_service/config/SecurityConfig.java
  user_service/src/main/java/org/personal/user_service/config/TOKENTIME.java
  user_service/src/main/java/org/personal/user_service/oauth/CustomOAuth2User.java
  user_service/src/main/java/org/personal/user_service/oauth/CustomOAuth2UserService.java
  user_service/src/main/java/org/personal/user_service/user/controller/LoginController.java
  user_service/src/main/java/org/personal/user_service/user/controller/UserController.java
  user_service/src/main/java/org/personal/user_service/user/domain/CustomUserDetails.java
  user_service/src/main/java/org/personal/user_service/user/domain/Token.java
  user_service/src/main/java/org/personal/user_service/user/domain/User.java
  user_service/src/main/java/org/personal/user_service/user/etc/ROLE.java
  user_service/src/main/java/org/personal/user_service/user/exception/GlobalExceptionHandler.java
  user_service/src/main/java/org/personal/user_service/user/exception/InvalidRequestException.java
  user_service/src/main/java/org/personal/user_service/user/exception/NotFoundException.java
  user_service/src/main/java/org/personal/user_service/user/repository/RefreshRepository.java
  user_service/src/main/java/org/personal/user_service/user/repository/UserRepository.java
  user_service/src/main/java/org/personal/user_service/user/request/RequestLogin.java
  user_service/src/main/java/org/personal/user_service/user/request/RequestRegist.java
  user_service/src/main/java/org/personal/user_service/user/request/RequestUpdatePassword.java
  user_service/src/main/java/org/personal/user_service/user/response/ResponseToken.java
  user_service/src/main/java/org/personal/user_service/user/response/ResponseUser.java
  user_service/src/main/java/org/personal/user_service/user/response/ResponseUserDetail.java
  user_service/src/main/java/org/personal/user_service/user/service/LoginService.java
  user_service/src/main/java/org/personal/user_service/user/service/LoginServiceImpl.java
  user_service/src/main/java/org/personal/user_service/user/service/UserService.java
  user_service/src/main/java/org/personal/user_service/user/service/UserServiceImpl.java
  user_service/src/test/java/org/personal/user_service/UserServiceApplicationTests.java
  user_service/src/test/java/org/personal/user_service/user/service/LoginServiceImplTest.java
Labels: Back-End

#68 [Addon-Service] 애드온 서비스 develop merge
  addons_service/build.gradle
  addons_service/gradle/wrapper/gradle-wrapper.jar
  addons_service/gradle/wrapper/gradle-wrapper.properties
  addons_service/gradlew
  addons_service/gradlew.bat
  addons_service/settings.gradle
  addons_service/src/main/java/org/personal/addons_service/AddonsServiceApplication.java
  addons_service/src/main/java/org/personal/addons_service/config/WebConfig.java
  addons_service/src/main/java/org/personal/addons_service/controller/AddonController.java
  addons_service/src/main/java/org/personal/addons_service/domain/Addon.java
  addons_service/src/main/java/org/personal/addons_service/exception/AddonErrorResult.java
  addons_service/src/main/java/org/personal/addons_service/exception/AddonException.java
  addons_service/src/main/java/org/personal/addons_service/exception/GlobalExceptionHandler.java
  addons_service/src/main/java/org/personal/addons_service/mapper/AddonMapper.java
  addons_service/src/main/java/org/personal/addons_service/repository/AddonRepository.java
  addons_service/src/main/java/org/personal/addons_service/request/CreateAddonRequest.java
  addons_service/src/main/java/org/personal/addons_service/request/GetAddonRequest.java
  addons_service/src/main/java/org/personal/addons_service/request/UpdateAddonRequest.java
  addons_service/src/main/java/org/personal/addons_service/response/AddonResponse.java
  addons_service/src/main/java/org/personal/addons_service/service/AddonService.java
  addons_service/src/main/java/org/personal/addons_service/service/AddonServiceImpl.java
  addons_service/src/main/resources/application.yaml
  addons_service/src/test/java/org/personal/addons_service/controller/AddonControllerTest.java
  addons_service/src/test/java/org/personal/addons_service/repository/AddonRepositoryTest.java
  addons_service/src/test/java/org/personal/addons_service/service/AddonServiceTest.java
Labels: Back-End

#69 [Location-Service] 화장실 위치 서비스 Kafka 설정을 위한 merge
  location_service/.gitignore
  location_service/build.gradle
  location_service/gradle/wrapper/gradle-wrapper.jar
  location_service/gradle/wrapper/gradle-wrapper.properties
  location_service/gradlew
  location_service/gradlew.bat
  location_service/settings.gradle
  location_service/src/main/java/org/personal/locations_service/LocationsServiceApplication.java
  location_service/src/main/java/org/personal/locations_service/config/QueryDslConfig.java
  location_service/src/main/java/org/personal/locations_service/config/WebConfig.java
  location_service/src/main/java/org/personal/locations_service/controller/ExceptionController.java
  location_service/src/main/java/org/personal/locations_service/controller/LocationController.java
  location_service/src/main/java/org/personal/locations_service/domain/Location.java
  location_service/src/main/java/org/personal/locations_service/exception/InvalidRequest.java
  location_service/src/main/java/org/personal/locations_service/exception/LocationException.java
  location_service/src/main/java/org/personal/locations_service/exception/ToiletNotFound.java
  location_service/src/main/java/org/personal/locations_service/repository/LocationRepository.java
  location_service/src/main/java/org/personal/locations_service/repository/LocationRepositoryCustom.java
  location_service/src/main/java/org/personal/locations_service/repository/LocationRepositoryImpl.java
  location_service/src/main/java/org/personal/locations_service/request/LocationCreate.java
  location_service/src/main/java/org/personal/locations_service/request/LocationEdit.java
  location_service/src/main/java/org/personal/locations_service/request/LocationMarker.java
  location_service/src/main/java/org/personal/locations_service/response/ErrorResponse.java
  location_service/src/main/java/org/personal/locations_service/response/LocationResponse.java
  location_service/src/main/java/org/personal/locations_service/service/LocationService.java
  location_service/src/main/java/org/personal/locations_service/service/LocationServiceImpl.java
  location_service/src/main/resources/application-test.yml
  location_service/src/main/resources/application.yml
  location_service/src/test/java/org/personal/locations_service/LocationsServiceApplicationTests.java
  location_service/src/test/java/org/personal/locations_service/controller/LocationControllerTest.java
  location_service/src/test/java/org/personal/locations_service/service/LocationServiceTest.java
Labels: feature, refactor, test, Back-End
